@page
@model DBFlightManagement.Pages.Flights.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Airline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Airline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DepartureAirport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureAirport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ArrivalAirport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalAirport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DepartureDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.AvailableSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.AvailableSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.TicketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.TicketPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flight.FlightId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
