@page
@model DBFlightManagement.Pages.Flights.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Flights</h1>

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Staff") || User.IsInRole("Admin")))
{
    <p>
        <a asp-page="./Create" class="btn btn-success">Add New Flight</a>
    </p>
}


<form method="get">
    <div class="form-group">
        <input type="text" name="SearchTerm" value="@Model.SearchTerm" class="form-control" placeholder="Search by name, email, or ID..." />
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].Airline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DepartureAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].ArrivalAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DepartureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].TicketPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Flight) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Airline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Staff") || User.IsInRole("Admin")))
            {
                <td>
                        <a asp-page="./Details" asp-route-id="@item.FlightId" class="btn btn-info btn-sm">Details</a>
                        <a asp-page="./Edit" asp-route-id="@item.FlightId" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.FlightId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            }
            <td>
                <a asp-page="/Tickets/BuyTicket" asp-route-flightId="@item.FlightId" 
                class="btn btn-primary">Buy Ticket</a>
            </td>
        </tr>
}
    </tbody>
</table>

