@page
@model DBFlightManagement.Pages.Staffs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PersonalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.PersonalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.IdentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="button-update" onclick="window.location.href='@Url.Page("./Edit", new { id = Model.Staff.StaffId })'">Edit</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Page("./Index")'">Back to List</button>
</div>

<style>
    body {
        background: linear-gradient(135deg, white, #2F4F4F);
        color: black;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .button-update {
        text-decoration: none;
        background-color: #ebeb34;
        color: black;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        flex: 1;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .details-container {
        background-color: rgba(47, 79, 79, 0.9);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
        width: 50%;
        text-align: left;
        margin: 0 auto;
    }

    .row dd {
        margin-bottom: 20px;
        color: black;
    }

    .button-group {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .btn-primary,
    #back-list {
        text-decoration: none;
        background-color: #2F4F4F;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        flex: 1;
        text-align: center;
    }

        .btn-primary:hover,
        #back-list:hover {
            background-color: #1E90FF;
            color: #FFFFFF;
        }
</style>