@page
@model DBFlightManagement.Pages.Staffs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PersonalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.PersonalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.IdentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Page("./Edit", new { id = Model.Staff.StaffId })'">Edit</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Page("./Index")'">Back to List</button>
</div>

