@page
@model DBFlightManagement.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.FlightId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.FlightId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.SeatBooked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.SeatBooked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Sale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Sale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TotalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket.TicketId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
